@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;600;700&display=swap');


.dark {
  --color-main: #f68657;
  --color-text: #d6d1d1;
  --color-dark: #f5f6f7;
  --color-gray: #999;
  --color-bg: #1f2124;
  --color-lighter: #292a2c;
  --color-white: #2e3235;
  --color-border:#252629;
}

/* BASE STYLES */


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lexend', sans-serif;
  font-size: inherit;
  scroll-behavior: smooth;
  /*background-color: #1f2124;*/
  /*color: #d6d1d1*/
}

a {
  text-decoration: none;
}
